# Archivos de Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.pytest_cache/

# Dependencias de Python
venv/

# Dependencias de JavaScript/Node
/frontend/node_modules
/frontend/dist

# Archivos de entorno local
.env